<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   description="Student Information Form web report."
   name="PEI Student Information Form"
   version="0.1.7"
   xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
   <publisher name="PEI Department of Education - Luke Walker">
   <contact email="lawalker@gov.pe.ca"/>
   </publisher>
   <access_request>
    <cdn_request>
        <cdn name="https://fonts.googleapis.com"/>
        <cdn name="https://fonts.gstatic.com"/>
    </cdn_request>
    </access_request>
</plugin>