<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   description="PEI Report Cards rewritten using Handlebars to improve load time and consistency."
   name="PEI Report Cards v2"
   version="1.11.5"
   xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
   <publisher name="DELL - Luke Walker">
   <contact email="lawalker@gov.pe.ca"/>
   </publisher>
   <access_request>
    <cdn_request>
        <cdn name="https://www.princeedwardisland.ca"/>
        <cdn name="https://fonts.googleapis.com"/>
        <cdn name="https://fonts.gstatic.com"/>
    </cdn_request>
    </access_request>
</plugin>